@model AuthenticationJWT.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/shared/pagelayout.css" />
    <link rel="stylesheet" href="~/Content/user-layout/header-footer-style.css" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/userhome-scripts.js"></script>
    <style>
        .body-content {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            width: 80%;
            height: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
    <title>Home</title>
</head>
<body>
    @Html.Partial("_Header", Model)
    <h1 class="body-content">This just a POC for JWT authentication</h1>
    @Html.Partial("_Footer")
    @if (ViewBag.Error != null)
    {
        <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Error");
                        };
        </script>
    }
</body>
</html>
