.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    background: darkslateblue;
}

.right-head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 20px;
}

.text, h1, h3, a, .sub-menu {
    color: white;
}

h3 {
    font-weight: 300;
}

.logout {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.sub-menu {
    display: none;
    border: 1px solid white;
    width: 180px;
    padding: 10px;
    position: absolute;
    background: darkslateblue;
}

.sub-menu a {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px;
    gap: 15px;
}

 .sub-menu p{
     font-size:12px;
 }

.sub-menu i, .logout i {
     font-size: 1.05em;
}

.logout .text{
    font-size:15px;
}

.logout:hover {
    cursor: pointer;
    border: 3px solid white;
}

.sub-menu p:hover {
    font-weight:bold;
}

#dropdown-icon:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: darkslateblue;
    color: white;
    text-align: center;
}
