.content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
}

table {
    width: 100%;
}

th {
    text-align: end;
}

.user-gender .options {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.display input {
    border: none;
    outline: none;
    font-size: 15px;
}

.hideData{
    display:none;
}

th, td {
    padding: 15px;
}

.details input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid;
    padding: 3px;
}

.save-action, .edit-action {
    text-align: center
}

.save-action a {
    color: black;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid;
}

.edit-action a {
    color: white;
    border-radius: 5px;
    background: darkslateblue;
    padding: 8px;
    border: 1px solid;
}

.button {
    font-size: 16px;
    width: 100px;
    height: 40px;
    background: darkslateblue;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button:hover, .edit-action a:hover {
    background: blue;
}

.save-action a:hover {
    background: #B6B6B4;
}

.field-validation-error {
    position: absolute;
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .user-gender .options {
        width: auto;
    }
}
