<div class="header">
    <div class="left-head">
        <h1>JWT-POC</h1>
    </div>
    <div class="right-head">
        <h3>Welcome <i>@Model.Name.Split(' ')[0]</i></h3>
        <div class="logout">
            <span class="text">Logout</span><a href="/Home/Logout">&nbsp;<i class="fa fa-power-off fa-lg" aria-hidden="true"></i></a>            
        </div>        
    </div>
</div>
