<div class="header">
    <div class="left-head">
        <h1>JWT-POC</h1>
    </div>
    <div class="right-head">
        <h3>Welcome @Model.Name.Split(' ')[0]</h3>
        <a href="/Home/Logout"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i></a>
    </div>
</div>
